<html>
<head>
	<title>Flask Demo</title>
	<script type="text/javascript" src="./static/lib/d3.js"></script>
	<script type="text/javascript" src="./static/lib/leaflet.js"></script>
	<link rel="stylesheet" href="./static/lib/leaflet.css" />
	<link rel="stylesheet" href="./static/style.css" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>

	<div id="map"></div>
	<div id = "event"></div>
	<script type="text/javascript">
		var feature = d3.select("#event");
	</script>
	<div class="tooltip" style="position: absolute; visibility: hidden; z-index: 10; top: 100px; left: 100px">
	    <p class="tooltip-text" id="title">This is the title</p>
	    <p class="tooltip-text" id="price">This is the price</p>
	</div>
	
	<div class="menu">
    <p><h4>DMC Web Stack</h4></p>
    <form>
        <p><input type="checkbox" id="heatmap">Heat Map</p>
        <p><input type="button" value="Update Data" onclick="updateData()"></p>
    <p>Status: <em id="message"></em></p>
    </form>
	</div>
</body>
</html>